/* Global */

* {
  box-sizing: border-box;
  cursor: url("img/defaultCursor.png"), auto;
  --mainColor: #ff4646;
  --searchColor: #f4c82b;
  --topColor: #e5f2b9;
  --searchBarColor: #bbde5f;
  --navColor: #f4c82b;
  --linkColor: #5d12e7;
}

a:hover {
  cursor: url("img/pointerCursor.png"), auto;
}

body {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  outline: 0;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: var(--searchBarColor);
  border-radius: 10px;
  outline: none;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(187, 222, 95, 0.6);
}

/* Header */

header {
  grid-column: 1 / 13;
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-between;
}

header h1 {
  display: inline-block;
  padding: 0;
  margin: 0;
}

h1 a {
  font-size: 50px;
  font-weight: 100;
  color: var(--mainColor);
  text-decoration: none;
}

/* Navigation Menu */

.menu {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  background: url("img/burger.svg") no-repeat;
  width: 85px;
}

nav {
  display: none;
  position: absolute;
  top: 60px;
  left: -60px;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background: linear-gradient(var(--topColor), var(--navColor));
  border-radius: 10px;
}

.menu:hover nav {
  display: block;
  cursor: url("img/pointerCursor.png"), auto;
}

nav a {
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  color: var(--linkColor);
}

nav ul {
  padding: 0;
  text-align: center;
  list-style: none;
}

nav ul li {
  padding: 7px 0;
  border-bottom: 1px solid var(--linkColor);
  line-height: 30px;
}

nav ul li:last-child {
  border: none;
}

nav ul li a:hover,
.current {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--mainColor);
  transition: 0.3s ease;
}

@media screen and (max-width: 340px) {
  .menu {
    top: 10px;
    width: 40px;
  }
}

@media screen and (max-width: 400px) {
  .menu nav {
    left: -125px;
  }
}

@media screen and (max-width: 320px) {
  .menu nav {
    left: -160px;
  }
}

/* Search Bar */

.search {
  display: inline-block;
  background: linear-gradient(var(--topColor), var(--searchBarColor));
  height: 60px;
  padding: 20px 20px 0 20px;
  border-radius: 10px;
  grid-column: 7 / 13;
}

@media screen and (max-width: 1070px) {
  .search {
    grid-column: 4 / 13;
  }
}

@media screen and (max-width: 800px) {
  header h1 {
    text-align: center;
  }
  .search {
    grid-column: 1 / 13;
  }
}

@media screen and (max-width: 450px) {
  .search {
    height: 100px;
  }
  .searchText {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .searchButton {
    float: none;
    width: 100%;
    margin: 0 auto;
  }
}

.searchText {
  float: left;
  position: relative;
  bottom: 5px;
  padding: 5px;
  font-size: 15px;
  color: var(--searchColor);
  background: white url(img/searchIcon.png) right center no-repeat;
  border-radius: 10px;
  border: 1px solid var(--navColor);
}

.searchButton {
  float: right;
  position: relative;
  bottom: 5px;
  padding: 5px;
  font-weight: bold;
  color: white;
  background: var(--mainColor);
  font-size: 15px;
  border: 1px solid white;
  border-radius: 10px;
}

/* Main Article and Side Articles */

main {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

main article {
  background: linear-gradient(var(--topColor), var(--searchBarColor));
  padding: 30px;
  border-radius: 10px;
  grid-column: 1 / 13;
}

main article h2 {
  font-size: 45px;
  color: #316901;
  font-weight: normal;
}

main article p {
  font-size: 25px;
  color: #628f19;
  text-align: justify;
  line-height: 1.5em;
}

main aside {
  display: inline-block;
  border: 1px solid var(--searchBarColor);
  border-radius: 10px;
  font-weight: normal;
  padding: 10px 30px;
}

main aside h3 {
  color: var(--mainColor);
  font-size: 30px;
}

main aside ul {
  list-style: url("img/knifeIcon.png");
  padding-top: 8px;
}

main aside ul .meat {
  list-style: url("img/meatIcon.png");
}

main aside ul .chicken {
  list-style: url("img/chickenIcon.png");
}

main aside ul .vegan {
  list-style: url("img/veganIcon.png");
}

main aside ul .seafood {
  list-style: url("img/seafoodIcon.png  ");
}

main aside ul li a,
main aside ul li {
  text-decoration: none;
  font-size: 20px;
  color: var(--linkColor);
}

main aside ul li a:hover {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--mainColor);
  transition: 0.3s ease;
}

main aside.left {
  grid-column: 1 / 7;
}

main aside.right {
  grid-column: 7 / 13;
}

@media screen and (max-width: 700px) {
  main aside.left {
    grid-column: 1 / 13;
  }

  main aside.right {
    grid-column: 1 / 13;
  }
}

/* Footer */

footer {
  text-align: center;
  padding: 20px 0;
  background: linear-gradient(var(--topColor), var(--navColor));
  border-radius: 10px;
  grid-column: 1 / 13;
  margin-bottom: 10px;
}
